:root {
  /* Font Size */
  --h1-size: 2.5rem;
  --h2-size: 2rem;
  --h3-size: 1.5rem;
  --body-size: 1rem;
  --small-size: 0.875rem;

  /* Solid Colors */
  --primary-blue: #4531EA;
  --accent-green: #CCEA71;
  --accent-purple: #9D00E5;

  /* Neutral Colors */
  --text-light: #F5F5F5;
  --text-dark: #1A1A1A;

  /*Light/Dark Mode Colors*/
  --light-mode: linear-gradient(to bottom, #E0F7FA 0%, #F9F9F9 100%);
  --dark-mode:  linear-gradient(to bottom, #121212 0%, #1A1A2E 100%);

  /* Gradient*/
  --gradient-primary: linear-gradient(to bottom,  
  #4531EA 0%,  
  #DA00B1 50%,  
  #FF0072 75%,  
  #FF6841 88%,  
  #FAA92E 94%,  
  #FAAB2E 97%,  
  #FAAB2D 98%,  
  #FAAE2D 99%,  
  #FAB02C 100%,  
  #FF7539 100%,  
  #FF0967 100%);
}

.dark-theme{
  --text-light: #1A1A1A;
  --text-dark: #F5F5F5;
  --light-mode: linear-gradient(to bottom, #121212 0%, #1A1A2E 100%);
  --dark-mode:  linear-gradient(to bottom, #E0F7FA 0%, #F9F9F9 100%);

}

/* Fonts */
@font-face {
  font-family: Poppins;
  src: url(assets/fonts/poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: Inter;
  src: url(assets/fonts/inter/Inter-VariableFont_opsz\,wght.ttf);
}

h1, h2, h3{
  font-family: Poppins;
  line-height: 1;
}

h1{
  font-size: var(--h1-size);
}

h2{
  font-size: var(--h2-size);
}

h3{
  font-size: var(--h3-size);
}

p, a{
  font-family: Inter;
}

p{
  font-size: var(--body-size);
}

/* Links */
li{
  list-style-type: none;
}

a{
  color: var(--text-light);
  text-decoration: none;
  font-size: var(--body-size);
}

.small_h3{
  font-size: large;
}

p.special{
  font-family: Inter;
  font-size: var(--small-size);
  padding-bottom: 0.5em;
}

hr{
  background: var(--gradient-primary);
  padding: 0.03em;
  border-radius: 2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--light-mode);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* Navigation Bar */
nav{
  height: 2.5em;
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  position: fixed;
  top: 0em;
  width: 100vw;
  background: var(--light-mode);
  z-index: 30;
}

nav .logo {
  margin-right: auto;
}

.logo img {
  width: 5em;
}

nav .header_group svg{
  display: block;
  cursor: pointer;
  fill: var(--text-dark);
  width: 1.5em;
}

.menu_open{
  z-index: 1000;
}

.header_group + .header_group {
  margin-left: 2em;
}

nav>.nav_links{
  background: var(--dark-mode);
  position: fixed;
  top: 0;
  right: -100vw;
  width: 50vw;
  height: 100vh;
  padding: 5em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5em;
  transition: right 0.3s ease-in-out;
  box-shadow: 1px 1px 5px var(--text-dark);
  z-index: 20;
}

.nav_links.active{
  right: 0vw;
}

.cta{
  background: var(--gradient-primary);
  padding: 12px 20px;
  border-radius: 50px;
  border: 1px solid var(--text-dark)
}

.cta#nav_cta{
  display: none;
}

.cta#links_cta{
  border: 1px solid var(--text-light);
}

.cta,
nav #nav_cta.cta{
  color: #F5F5F5;
}

/* Sections common layout */
.hero_section, 
.about_us,
.latest_stories,
.spotlights{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 4em 1em 1em 1em;
}

.hero_section .hero_image img,
.about_us .about_image img{
  width: calc(100vw - 2em);
}

.hero_content,
.about_content{
  text-align: left;
}

.hero_content * + * ,
.about_content * + *,
.latest_content * + *,
.spotlight_content * + *,
.links,
.credit{
  margin-top: 1em;
}

.hero_content p,
.about_content p,
.latest_content p,
.spotlight_content p,
.links,
.credit{
  color: var(--text-dark);
}


/* Sections specific styles */
.hero_section{
  padding-top: 7em;
  gap: 2.5vh;
}

.hero_content h1{
  color: var(--primary-blue);
}

.hero_content p{
  margin-bottom: calc(1em + 12px);
}

.about_content h2 p{
  color: var(--text-dark);
  padding-bottom: 0.5em;
}

.latest_content,
.spotlight_content{
  text-align: center;
}

.latest_content h2,
.spotlight_content h2,
.about_content h2{
  color: var(--accent-purple);
}


/* Post Layout */
.post {
  border: 1px solid var(--text-dark);
  border-radius: 1em;
  background: var(--text-light);
}

.latest_posts > .post + .post{
  margin-top: 1.5em;
}

.post .container{
  padding: 0.75em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.75em;
}

.post img{
  width: calc((100vw - 2em));
  height: 150px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.post .meta{
  display: flex;
  align-items: center;
  gap: 1em
}

.meta .date{
  padding: 0.5em;
  background-color: var(--primary-blue);
  font-size: var(--small-size);
  font-family: Inter;
  font-weight: bold;
  color: var(--text-light) !important;
  border-radius: 1em;
  border-left: 1px solid var(--text-light);
}

.meta .read_time{
  font-size: var(--small-size);
  font-family: Inter;
  font-weight: bold;
}

.meta .date, 
.meta .read_time,
.post .title h3,
.post .post_content{
  color: var(--text-dark);
}

.post .title{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25em;
}

.post .title .logo img{
  width: 50px;
  height: 50px;
  border-radius: 2em;
}

.post .post_content{
  font-size: var(--body-size);
  font-family: Inter;
}

/* Spotlights section */
.spotlight-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.spotlight-scroll {
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 1em;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; 
}

.carousel-btn {
  position: absolute;
  top: 30%;
  transform: translateY(-150%);
  background: var(--accent-green);
  opacity: 0.8;
  border: 1px solid var(--text-light);
  border-radius: 2em;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

#prev-btn {
  left: 10px;
}

#next-btn {
  right: 10px;
}

/* search bar */
#search {
  width: 75%;
  padding: 1em;
  border: 1px solid var(--accent-purple);
  border-radius: 2em;
}


/* Newsletter */
.newsletter{
  width: 80vw;
  height: 25vh;
  margin: 0 10vw;
  padding: 1.5em;
  border-radius: 2em;
  background-color: var(--primary-blue);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.newsletter .newsletter_img img{
  width: 7.5em;
  height: 7.5em;
  border-radius: 4em;
}

.newsletter .subscribe{
  display: flex;
  gap: 1em;
}

.newsletter h3{
  color: #F5F5F5;
  padding: 1em;
}

.newsletter .subscribe #join-input{
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid #1A1A1A;
}

.newsletter, .subscribe{
  flex-direction: column;
  height: fit-content;
  align-items: flex-start;
}

/*
Footer 
*/
footer .footer_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--text-dark);
  padding-top: 2em;
}

footer .footer_top{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5em;
  flex-basis: 25%;
}

.links,
.links .footer_links a{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

footer .links{
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-basis: 35%;
}

.links .footer_links{
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 1;
}

.links h3{
  font-size: var(--small-size);
}

.footer_top .dev_links{
  display: flex;
  gap: 1em;
}

footer .footer_top svg{
  width: 2em;
  fill: var(--accent-purple);
}

.links .footer_links{
  text-align: center;
}

.links .footer_links a {
  color: var(--text-dark);
}

.footer_links * + *{
  padding-top: 1em;
}

/* credit*/
.credit .row1,
.credit .row2{
  display: flex;
  width: 224px;
  border: 1px solid var(--text-dark);
}

.credit .row1 .col1,
.credit .row1 .col2{
  width: 60%;
  padding: 0.5em;
}

.credit .row1 .col2{
  width: 40%;
  background-color: var(--primary-blue);
}

.credit .row1 .col2 p{
  color: var(--text-light);
}

.credit .row2{
  padding: 0 0.25em;
  gap: 33%;
}

.credit .row2 svg{
  width: 1.5em;
  height: 2em;
}

/* Copyright */
.footer .copyright{
  border-top: 1px solid gray;
  margin-top: 2em;
  padding: 1em;
}

.footer .copyright p{
  text-align: center;
  color: var(--text-dark);
}


/* RESPONSIVE DESIGN --(Desktop) */

@media screen and (min-width: 49em){

  /* 
   Resets 
  */
  nav a{
    color: var(--text-dark);
  }

  nav .cta{
    color: var(--text-light);
    font-size: var(--small-size);
  }

  nav .cta{
    display: none;
  }

  .nav_links.active{
    right: 0;
  }

  .cta#nav_cta{
    display: block;
  }

  .menu_open{
    display: none;
  }

  /* Navigation */
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    padding: 0.5em 3em;
    position: fixed;
    width: 100vw;
    background: var(--light-mode);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 20;
    gap: 2em;
  }
  
  nav .nav_links{
    position: relative;
    right: 0vw;
    flex-basis: 60%;
    background: transparent;
    width: fit-content;
    height: fit-content;
    padding: 0;
    flex-direction: row;
    box-shadow: 0 0 0;
    z-index: 20;
  }

  .nav_links.active{
    right: 0vw;
  }
  
  /* Sections common layout */
  .hero_section, 
  .about_us{
    flex-direction: row;
    align-items: center;
    padding: 4em 3em;
  }

  /* Special styles */
  .about_us{
    flex-direction: row-reverse;
    gap: 5vw;
  }

  .hero_section{
    height: 100vh;
    padding-top: 7em;
    gap: 10vw;
  }

  .hero_section .hero_image img{
    width: 45vw;
    height: 75vh;
  }

  .about_us .about_image img{
    width: 45vw;
    height: 50vh;
    padding-right: 2em;
    border-right: 0.15em solid var(--text-dark);
  }

  /* Latest Stories */
  .latest_stories{
    padding: 4em 3em;
  }
  
  .latest_content{
    text-align: left;
  }

  .latest_posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }

  .latest_stories{
    align-items: flex-start;
    justify-content: center;
  }
  
  .latest_stories .post:first-child ,
  .latest_stories .post:first-child > img{
    grid-column: span 2;
    width: 50vw;
  }

  .latest_stories .post:first-child > img{
    width: calc(50vw - 2px);;
  }

  .latest_stories .post:last-child{
    grid-row: span 2;
  }

  /* Post */
  .post{
    width: 25vw;
  }

  .post img{
    width: calc((25vw - 2px));
  }

  /* Newsletter */
  .newsletter, .subscribe{
    flex-direction: row;
    height: fit-content;
    align-items: flex-start;
  }

  /* Footer */
  footer .footer_content{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3vw;
    justify-content: center;
    align-items: center;
  }

  /* footer links */
  footer .links,
  .links .footer_links{
    flex-direction: row;
  }
  
  .links h3{
    padding-right: 0.5em;
    border-right: 1px solid gray;
    margin-right: 1em;
  }

  .footer_links * + *{
    padding-top: 0;
  }  

  /* footer sub-footer */
  .footer .copyright{
    border-top: 1px solid gray;
    margin-top: 2em;
    padding: 1em;
  }

  .footer .copyright p{
    text-align: left;
  }
  
}


/* Loading */
.loading, .error {
  text-align: center;
  font-size: 16px;
  color: #555;
  margin-top: 20px;
}

.loading {
  font-weight: bold;
}

.error {
  color: red;
}


